* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

header {
  padding: 1rem;

  font-family: "Bungee", cursive;

  background-color: #182c61;
  color: #ecf0f1;
}

header h1 {
  font-weight: 400;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1336px;
  width: 100%;

  margin: 0 auto;
}

.list-nav {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  list-style: none;
}

.list-nav li a {
  transition: all 0.2s;
  border-bottom: 2px solid transparent;
}

.list-nav li a:hover {
  border-bottom: 2px solid #ecf0f1;
}

section {
  margin-top: 2rem;

  color: #182c61;
}

.section-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-self: flex-start;
}

.section-info img {
  height: 1.5rem;
}

#store-front {
  margin-right: 2rem;
}

.section-paragraph p:first-child {
  margin-bottom: 1rem;
}

.section-paragraph p {
  font-size: 1.1rem;
}

section ul {
  display: flex;
  gap: 0.75rem;

  list-style: none;
}
